@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;   
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 2rem;
    padding: 1rem;
}
.greating-header{
    color: #FF868C;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;

}
.date{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
}

.weather{
    display: flex;
    /* flex-direction: column; for mobile */
    justify-content: space-between;
    margin: 3rem;
    padding: 1rem;
}

.city{
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.9rem;
}

/* weather card */

.weather-card{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    width: 420px;
    height: 320px;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);        
}

.weather-illustration{
    display: flex;
    align-self: flex-end ;
    width: 65%;
    height: 65%;
    margin-bottom: 2.4rem;
}

.temperature{
    margin-left: 3.5rem;
    margin-top: 3.5rem;
}

.temp-type{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.temp-number{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.2rem;
    color: #FF868C;
}


